# OPENAI API KEY
OPENAI_API_KEY = "sk-..."

# GOOGLE DEVELOPER API KEYS
YOUTUBE_API_KEY = "..."
GOOGLE_API_KEY = "..."

# CUSTOM SEARCH ENGINE ID
CSE_ID = "..."

# MASTER PASSWORD
PASSWORD = "..."

# BACKEND REFERENCES
BACKEND_URL = "http://localhost:####"
BACKEND_API_KEY = "..."
